# This is a template for environment variables.
# NOTE: change this filename from .env.template -> .env
# and ensure .env is included in your .gitignore file
# to protect your private keys from public view

AI_API_KEY=