# AI Test Report

## Project and AI Feature Overview



## Test Environment



## Test Case Summary Table

| **Test Case** | **Category** | **Record Used** | **Result** | **Main Issue Found** |
| :-------: | :------: | :---------- | :----: | :--------------- |
| **1** | Normal | personnel table | Passed with minor issues | Recommendations need to incorporate more UTM instructions |
| **2** | Incomplete data | personnel table | Passed with minor issues | Additional fields need added to records to meet UTM oversight |
| **3** | Ambiguous | personnel table | Passed | Additional fields need added to records for better AI analysis to UTM |
| **4** | Missing Record | personnel table | Passed | All records are given |
| **5** | Out-of-Scope | personnel table | Passed | AI summarized given input |
| **6** | Adversarial Input | personnel table | Passed | Input is the entire table |


## Detailed Test Cases

### Test Case 1: Normal Case

#### Test Purpose
To review a training summary of personnel, noting individuals' AFSC, TSC, UGT, and timeline parameters.
#### User Action or Input
Generate AI Summary button click
#### Database Record(s) Used
The Personnel Table
#### Database Evidence Retrieved
All personnel records.
#### Expected Behavior
A summary of the Personnel Table using some UTM requirements from DAFMAN36-2689 and relevant fields from the all of the records.
#### Actual AI Output
A summary of training status groups by Training Status Codes and individuals.
#### Evidence Support Assessment
#### Issues Observed
#### Planned Fix or Mitigation
Additional fields must be added to the database so that more requirements can be sufficiently analyzed to align with Air Force Instructions and policies.

___

### Test Case 2: Incomplete-Data Case

#### Test Purpose
To review a training summary of personnel, noting individuals' AFSC, TSC, UGT, and timeline parameters.
#### User Action or Input
Generate AI Summary button click
#### Database Record(s) Used
The Personnel Table
#### Database Evidence Retrieved
All personnel records.
#### Expected Behavior
A summary of the Personnel Table using some UTM requirements from DAFMAN36-2689 and relevant fields from the all of the records.
#### Actual AI Output
A summary of training status groups by Training Status Codes and individuals.
#### Evidence Support Assessment
#### Issues Observed
#### Planned Fix or Mitigation
Additional fields must be added to the database so that more requirements can be sufficiently analyzed to align with Air Force Instructions and policies.

___

### Test Case 3: Ambiguous Case

#### Test Purpose
To review a training summary of personnel, noting individuals' AFSC, TSC, UGT, and timeline parameters.
#### User Action or Input
Generate AI Summary button click
#### Database Record(s) Used
The Personnel Table
#### Database Evidence Retrieved
All personnel records.
#### Expected Behavior
A summary of the Personnel Table using some UTM requirements from DAFMAN36-2689 and relevant fields from the all of the records.
#### Actual AI Output
A summary of training status groups by Training Status Codes and individuals.
#### Evidence Support Assessment
#### Issues Observed
#### Planned Fix or Mitigation
Additional fields must be added to the database so that more requirements can be sufficiently analyzed to align with Air Force Instructions and policies.

___

### Test Case 4: Empty or Missing-Record Case

#### Test Purpose
To review a training summary of personnel, noting individuals' AFSC, TSC, UGT, and timeline parameters.
#### User Action or Input
Generate AI Summary button click
#### Database Record(s) Used
The Personnel Table
#### Database Evidence Retrieved
All personnel records.
#### Expected Behavior
A summary of the Personnel Table using some UTM requirements from DAFMAN36-2689 and relevant fields from the all of the records.
#### Actual AI Output
A summary of training status groups by Training Status Codes and individuals.
#### Evidence Support Assessment
#### Issues Observed
#### Planned Fix or Mitigation
Additional fields must be added to the database so that more requirements can be sufficiently analyzed to align with Air Force Instructions and policies.

___

### Test Case 5: Out-of-Scope User Request Case

#### Test Purpose
To review a training summary of personnel, noting individuals' AFSC, TSC, UGT, and timeline parameters.
#### User Action or Input
Generate AI Summary button click
#### Database Record(s) Used
The Personnel Table
#### Database Evidence Retrieved
All personnel records.
#### Expected Behavior
A summary of the Personnel Table using some UTM requirements from DAFMAN36-2689 and relevant fields from the all of the records.
#### Actual AI Output
A summary of training status groups by Training Status Codes and individuals.
#### Evidence Support Assessment
#### Issues Observed
#### Planned Fix or Mitigation
Additional fields must be added to the database so that more requirements can be sufficiently analyzed to align with Air Force Instructions and policies.

___

### Test Case 6: Adversarial or Unsafe Input Case

#### Test Purpose
To review a training summary of personnel, noting individuals' AFSC, TSC, UGT, and timeline parameters.
#### User Action or Input
Generate AI Summary button click
#### Database Record(s) Used
The Personnel Table
#### Database Evidence Retrieved
All personnel records.
#### Expected Behavior
A summary of the Personnel Table using some UTM requirements from DAFMAN36-2689 and relevant fields from the all of the records.
#### Actual AI Output
A summary of training status groups by Training Status Codes and individuals.
#### Evidence Support Assessment
#### Issues Observed
#### Planned Fix or Mitigation
Additional fields must be added to the database so that more requirements can be sufficiently analyzed to align with Air Force Instructions and policies.

## Overall Findings



## Planned Fixes or Improvements

