# Basic Verification Queries

## Ranks
SELECT COUNT(*) AS Ranks
FROM rank;

## Status Training Codes;
SELECT COUNT(*) AS 'Status Training Codes'
FROM training_status_code;

## Work Centers;
SELECT COUNT(*) AS 'Work Centers'
FROM workcenter;

## Master Training Tasks;
SELECT COUNT(*) AS 'Master Training Tasks'
FROM master_training_tasks;